on:
  push:
    paths-ignore:
      - '**/*.md'
    branches:
      - feat/ci
  pull_request:
    branches:
      - feat/ci
    paths-ignore:
      - '**/*.md'

jobs:
  buildLinux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Native Linux
        run: make all
      - uses: actions/upload-artifact@v4
        with:
          path: Dist/
          name: linux-dist
          retention-days: 1
      - uses: nttld/setup-ndk@v1
        with:
          ndk-version: r25c
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
      - name: Build Arm/Android
        run: |
          ndk-build NDK_LIBS_OUT=./android/libs NDK_OUT=./android/obj
      - uses: actions/upload-artifact@v4
        with:
          path: android/
          name: android-dist
          retention-days: 1
  buildWindows:
    needs: [buildLinux]
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1
      - name: Build Solution
        run: |
          msbuild.exe FreeImage.2017.vcxproj /p:Configuration=Release /p:Platform=x64
          msbuild.exe FreeImage.2017.vcxproj /p:Configuration=Release /p:Platform=Win32
      - uses: actions/upload-artifact@v4
        with:
          path: Dist/x32
          name: win32-dist
      - uses: actions/upload-artifact@v4
        with:
          path: Dist/x64
          name: win64-dist
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1
        with:
          nuget-api-key: ${{ secrets.NUGET_TOKEN }}
      - name: Download Native Libraries
        uses: actions/download-artifact@v4
        with:
          path: native/
      - name: Build
        working-directory: ./Wrapper/FreeImage.NET/cs/Library
        run: msbuild.exe Library.csproj /p:Configuration=Release
      - name: Pack
        shell: cmd
        working-directory: ./Wrapper/FreeImage.NET/cs/Library
        run: nuget pack Library.csproj -OutputDirectory nupkgs -Version 0.1.0 -Properties version="0.1.0";Configuration=Release
      - uses: actions/upload-artifact@v4
        with:
          path: Wrapper/FreeImage.NET/cs/Library/nupkgs
          name: nuget-dist